services:
  red_tetris:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8443:8443"
    volumes:
      - .:/app
      - /app/node_modules
    command: pnpm dev --host